<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body><nav>
            <h1>Parsons Parking Lot Status</h1>
        </nav>
        <section class="content">
            <div class="main">
                Parking lot currently has {% if status == 0 %}
                <font color="red">{{ status }}</font>
                {% elif status <= 5 %}
                <font color="orange">{{ status }}</font>
                {% elif status > 5 %}
                <font color="green">{{ status }}</font>
                {% else %}
                error {{status}}
                {% endif %}
                spots available</div>
        </section>
    </body>
</html>
